.contenedor {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'contenido contenido contenido sidebar'
    'box1 box2 box3 box4'
    'footer footer footer footer';
    grid-gap: 1rem;
}

.header,
.contenido,
.sidebar,
.box1,
.box2,
.box3,
.box4,
.footer {
    border: 1px #ccc solid;
}

.header {
    grid-area: header;
}

.contenido {
    grid-area: contenido;
}

.sidebar {
    grid-area: sidebar;
}

.box1 {
    grid-area: box1;
}

.box1 ul {
    align-items: center;
    text-align: justify;
}

.box1 ul li {
    margin-bottom: 120px;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.footer {
    grid-area: footer;
}

@media (max-width: 500px) {
    .contenedor {
        grid-template-areas:
        'header'
        'contenido'
        'sidebar'
        'box1'
        'box2'
        'box3'
        'box4'
        'footer'
        ;
    }
}

h1,
h3 {
    text-align: center;
}

.box2 p {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}

.box2 img {
    width: 300px;
    align-items: center;
    margin-top: 60px;
}

.box3 p {
    text-align: center;
}

.box3 img {
    width: 500px;
    margin-left: 75px;
    margin-bottom: 15px;
}